* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background: linear-gradient(90deg, black, rgb(7, 7, 46));
    color: white;
    padding: 20px;
}


.abas {
    display: flex;
}

.aba {
    flex: 1;
    background: navy;
    color: white;
    text-align: center;
    padding: 15px;
}

.conteudo {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.box {
    flex: 1;
    min-width: 45%;
    background: lightgray;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}