*{
    margin: 0;
    padding: 0t;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    height: 100vh;
}


.menu{
    width: 200px;
     background: linear-gradient(180deg, black, rgb(7, 7, 46));
    color: white;
    padding: 20px;
}

.menu h2{
    margin-bottom: 20px;
}

.menu p{
    margin: 10px ;

}

.conteudo{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #3572ce;
    color: white;
    padding: 20px;
}

.blocos{
    flex: 1;
    display: flex;
    padding: 20px;
    gap: 10px;
}

.box{
    flex: 1;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}